In [1]:
import pandas as pd
import numpy as np
pop_df = pd.read_excel('../data/population_2021.xlsx', sheet_name=0)
pop_df=pop_df.drop('Nenurodyta', axis=1)
pop_df=pop_df.rename(columns={'85 ir vyresni': '85'})
pop_df=pop_df.iloc[:1]
pop_df.head()

,municipality_name,population,0,1,2,3,4,5,6,7,...,76,77,78,79,80,81,82,83,84,85
0,Lietuvos Respublika,2810761.0,23546.0,25068.0,26826.0,27940.0,29269.0,29407.0,28399.0,27720.0,...,19672.0,22090.0,23392.0,21720.0,19279.0,18206.0,17481.0,16083.0,15142.0,72648.0

In [2]:
# pivot the table to have dates as index and age as columns
df_melted = pd.melt(
    pop_df,
    id_vars='municipality_name',       # Column to keep
    var_name='age',                    # New column for former headers
    value_name='pop_per_age'            # Values go here
)
df_melted.drop('municipality_name', axis=1, inplace=True) 
df_melted=df_melted.iloc[1:] 
df_melted['population'] = df_melted['pop_per_age'].astype(int)
df_melted['age'] = df_melted['age'].astype(int)
df_melted.head()

   age  pop_per_age  population
1    0      23546.0       23546
2    1      25068.0       25068
3    2      26826.0       26826
4    3      27940.0       27940
5    4      29269.0       29269

In [3]:
# Define your age bins and labels
bins = [0, 9, 19, 29, 39, 49, 59, 69, 79, np.inf]
labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+']

# Add age_group column based on age
df_melted['age_group'] = pd.cut(df_melted['age'], bins=bins, labels=labels, right=True)

# Group by age_group and sum the population
pop_age = df_melted.groupby('age_group', as_index=False)['population'].sum()

# Resulting df_grouped now has only 'age_group' and 'population' columns
print(pop_age)
# Save the result to a new Excel file
pop_age.to_excel('../data/population_by_age_group.xlsx', index=False)

  age_group  population
0       0-9      251743
1     10-19      271449
2     20-29      312264
3     30-39      382619
4     40-49      374566
5     50-59      424640
6     60-69      369020
7     70-79      242075
8       80+      158839

C:\Users\Laptop\AppData\Local\Temp\ipykernel_11292\876893330.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pop_age = df_melted.groupby('age_group', as_index=False)['population'].sum()